.navbar{
    background-color:#3A497B !important;
    width: 80%;
    margin: auto;
    height: 100px;
    position: sticky;
}
*{
    box-sizing: border-box;
}
.img1{
    width: 30 px;
    height: 70px;
}
.nav-link:hover{
    color: #09c  !important;
}
nav{
    position: sticky;
    top: 0;
}
.upimg{
    width: 100%;
    height: 200px;
    background-color: #32353A;
    background-image: url(img/wraper.png);
    background-size: cover;    
}
body{
    background-color: #212529;
}
.gamedetails{
    color: #717377;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 200px;
}
.free{
    background-color: #0D6EFD;
    width: 60px;
    height: 40px;
}
.mmm{
    background-color: #32383e;
    width: 90px;
}
.mm{
    background-color: #32383e;
    width: 110px;
}
.unit{
    border: solid black 1px;
    padding: 10px;
    transition: 1s;
    width: 20%;
}
.unit:hover{
    transform: scale(1.1);
}
.detimg{
    height: 400px;
    
}
.detimg img{
    width: 100%;
    height: 100%;
}
.kk{
    width: 80%;
}
.bigunit{
    width: 100%;
}
.active {
    color: #09c !important;
  }
  
  #xx:hover{
    cursor: pointer;
  }
  .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  